@keyframes playing {
  0% {
    transform: rotate(0) translateY(0)
  }
  20% {
    transform: rotate(200deg) translateY(1rem)
  }
  40% {
    transform: rotate(360deg) translateY(3rem)
  }
  60% {
    transform: rotate(180deg) translateY(2rem)
  }
  80% {
    transform: rotate(100deg) translateY(1rem)
  }
  100% {
    transform: rotate(0) translateY(0)
  }
}

.geometry {
  font-size: 1.5rem;
  animation: playing 5s ease-in infinite;
  border-radius: 50%;
}
